{% extends 'base.html' %}
{% block content %}
<main>
  <div class="wrapper">
    <h2 class="auto">About The Game Exchange</h2>
    <div class="col2">
      <img src="../static/images/sonic.jpg" alt="Sonic" class="animated zoomInLeft">
    </div>
    <div id="aboutText">
    <h4>Never get ripped off again...</h4>
    <p>We know the feeling. You spent over $60 for that brand new game, played it for a few weeks, tried to trade it back in, and they will only offer you a quarter of what you paid.</p>

    <p>Enter The Game Exchange: the worlds first platform where you can seemlessly trade video games with other players in your community!</p>

    <h4>Getting Started</h4>
    <ul>
      <li>Set up your profile</li>
      <li>Add the games that you want to play to your profile.</li>
      <li>Add the games that you own, and are willing to trade for the games that you want to play.</li>
    </ul>

    <h4>How it works</h4>
    <ul>
      <li>We will display a list of users in your area who are willing to trade games with you!</li>
      <li>Send a message to a user and confirm a meetup stop and time that works for the both of you.</li>
      <li>Log back in and confirm the trade has taken place and rate the other user.</li>
    </ul>

    <h4 id="cashless">Cashless Transaction</h4>
    <p>You only exchange games with people who are willing to trade straight-up for your game. No cash involved.</p>

    <h4 id="rating">Rating System</h4>
    <p>The rating system helps ensure accountability for all users. If the game is not fully functional as it is suppose to be; if the other person is late to the meeting point, or if the person is excessively uncooperative, a user has the option anonymously to rate the other person 1 to 5 stars after each transqaction. A rating of 3 or less means they will never be show up on eachothers list of available traders again. Additionally, if a person’s rating gets too low, they may be block from signing on to the The Game Exchange platform.</p>

    <h4 id="cred">Cred</h4>
    <p>Earn cred every time you exchange a game or refer a friend. Cred can be used to purchase games and swag from our online store! Some restrictions apply.</p>

    </div>
  </div>
</main>
<footer style="position:static">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>
{% endblock %}
