{% extends 'base.html' %}
{% block content %}

<main>
  <div class="contactWrap">
    <div class="contact">
      
      <h1>Contact</h1>
      <div class="gx">
      <hr>
        <h3>The Game Exchange</h3>
        <p>Email: support@gameexchange.com</p>
        <p>Phone: 415-555-1234</p>
      </div>
      <hr>
      <div class="ceo">
        <h3>Kyle Malfatti - Founder, CEO</h3>
        <img src="../static/images/kyle.png" alt="Photo of Kyle" class="animated flipInX">
        <ul>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> kyle.malfatti@gmail.com</li>
          <li><i class="fa fa-github-square" aria-hidden="true"></i> github.com/kmalfatti</li>
          <li><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/kylemalfatti</li>
        </ul>
      </div>
    </div>
  </div>
</main>
<footer style="position:static">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>

{% endblock %}