{% extends 'base.html' %}
{% block content %}
<main>
  <div class="wrapper">
  
    <form action='' class="searchForm animated fadeIn">
      <p class="animated fadeInLeft">Search by game title:</p>
      <input class="animated fadeInUp" id="search" type="text" placeholder="Search" autofocus="" autocomplete="off">
      <button class="animated fadeInRight" id="searchBtn" type="submit">Search</button>
    </form>

  <div class="games"></div>
  </div>

</main>
<footer style="position:absolute">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>

{% endblock %}


