{% extends 'base.html' %}
{% block content %}

<main>

  <h1 class="animated fadeInDown">Sign up!</h1>

  <div class="form animated fadeInUp">
  <form action="{{url_for('create')}}" method="POST">
  {{ form.csrf_token }}
  <div>
  {{ form.username(placeholder="Username") }}
    {% if form.username.errors %}
        {% for error in form.username.errors %}
          <p class="errorText">{{ error }}</p>
        {% endfor %}
      {% endif %}
  </div>
  
  <div>
  {{ form.password(placeholder="Password") }}
  {% if form.password.errors %}
        {% for error in form.password.errors %}
          <p class="errorText">{{ error }}</p>
        {% endfor %}
      {% endif %}
  </div>
  
  <div>
  {{ form.email(placeholder="Email") }}
  {% if form.email.errors %}
        {% for error in form.email.errors %}
          <p class="errorText">{{ error }}</p>
        {% endfor %}
      {% endif %}
  </div>
  <div>
    <input type="Submit" id="button">
  </div>
  </form>
  </div>
</main>
<footer style="position:absolute">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>
{% endblock %}

