{% extends 'base.html' %}

{% block content %}
<main>
  <div class="profWrapper animated fadeIn">
  <h3>{{user2.username}}</h3>
    <div class="leftProfile">
      <div class="profPic">
        <img class='profImg' src="{{user2.image}}" alt="Photo of {{user2.username}}">
        {% if user.id == user2.id %}
        <div class="div-img-icon">
        <i class="fa fa-pencil-square-o edit-icon img-edit-icon fa-lg" aria-hidden="true"></i>
        </div>
        <form action="{{url_for('editimg', id=user.id)}}" method="POST" id='image-form'>
         {{ imgForm.csrf_token }}
         {{ imgForm.img(id='imgInput', placeholder=' Link to your image') }}
        <button id="imgSave">Save</button>
      </form>
      <button id="imgCancel">Cancel</button>
        {% endif %}
      </div>
      <p><b>Member since: </b><em>{{user2.date_joined.strftime('%m-%d-%Y')}}</em></p>
      <p><b>Rating: </b>{{r}}</p>
      <p><b>Cred: </b>{{user2.cred}}</p>
      <div class="emailDiv">
        <p><b>Email: </b><span id="emailText">{{user2.email}}</span>
        <i class="fa fa-pencil-square-o edit-icon email-edit-icon" aria-hidden="true"></i>
        </p>
        <form action="{{url_for('editemail', id=user.id)}}" method="POST">
          {{ emailForm.csrf_token }}
          {{ emailForm.email(id='email-form', placeholder='Email') }}
          <button id="emailSave">Save</button>
        </form>
        <button id="emailCancel">Cancel</button>
      </div>
      <p><b>Location: </b>{{user2.location}}</p>
      <div id="map"></div>
    </div>
    <div class="rightProfile">
      <div class="bioDiv">
        <p id="bio"><b>Bio: </b><span id='bioText'>{{user2.bio}}</span>
        {% if user.id == user2.id %}
        <i class="fa fa-pencil-square-o edit-icon bio-edit-icon" aria-hidden="true"></i>
        </p>
        <form action="{{url_for('editbio', id=user.id)}}" method="POST" id="bio-form">
           {{ bioForm.csrf_token }}
           {{ bioForm.bio(id='edit-box', rows="5", default=bioForm.bio.default)}}
        <button id="bioSave">Save</button>
        </form>
        <button id="bioCancel">Cancel</button>
      </div>
      {% endif %}
      <hr>
      <div class="gameList">
      <div class="owned">
          <h4>Games {{user2.username}} Owns:</h4>
          {% for game in games %}
            {% if (user2.id is equalto game.user_id) and (game.own is equalto True) %}
            <div class="own box">
            {% if user != user2 %}
            <div class="overbox">
              <p class="hover">Request</p>
              <div class="sure">
                <form action="{{url_for('trade', id=user2.id)}}" method="POST">
                  {{ form.csrf_token }}
                  <p>Are you sure you want to exchange {{game.name}}?</p>
                  {{ form.name(value=game.name) }}
                  {{ form.platform(value=game.platform) }}
                  <button class="yes" type="submit">Yes</button>
                  <p class="no">No</p>
                </form>
              </div>
            </div>
            {% else %}
            <div class="deleteBox">
              <p class="hover">x</p>
              <div class="delsure">
                <form action="{{url_for('deletegame', id=user2.id)}}" method="POST">
                  {{ delForm.csrf_token }}
                  <p>Are you sure you want to delete {{game.name}}?</p>
                  {{ delForm.own(value='True') }}
                  {{ delForm.name(value=game.name) }}
                  {{ delForm.platform(value=game.platform) }}
                  <button class="yes" type="submit">Yes</button>
                  <p class="no">No</p>
                </form>
              </div>
            </div>
            {% endif %}
            <p>{{game.name}}</p>
            <p>{{game.platform}}</p>
            <img src=https://res.cloudinary.com/igdb/image/upload/t_cover_big/{{game.cover}}.jpg>
            </div>
            {% endif %}
          {% endfor %}
          </div>
          <hr id="gameHr">
          <h4>Games {{user2.username}} Wants:</h4>
          {% for game in games %}
            {% if (user2.id is equalto game.user_id) and (game.own is equalto False) %}
            <div class="box want">
            {% if user == user2 %}
            <div class="deleteBox">
              <p class="hover">x</p>
              <div class="delsure">
                <form action="{{url_for('deletegame', id=user2.id)}}" method="POST">
                  {{ delForm.csrf_token }}
                  <p>Are you sure you want to delete {{game.name}}?</p>
                  {{ delForm.own(value='False') }}
                  {{ delForm.name(value=game.name) }}
                  {{ delForm.platform(value=game.platform) }}
                  <button class="yes" type="submit">Yes</button>
                  <p class="no">No</p>
                </form>
              </div>
            </div>
            {% endif %}
            <p>{{game.name}}</p>
            <p>{{game.platform}}</p>
            <img src=https://res.cloudinary.com/igdb/image/upload/t_cover_big/{{game.cover}}.jpg>
            </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</main>
<footer style="position:static">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkPcTWILmnQuPx36SiRabXumw1eKsppBg&callback=initMap">
</script>
{% endblock %}
