{% extends 'base.html' %}

{% block content %}

<main>
  <div class="profWrapper animated fadeIn">
  <h3>{{user2.username}}</h3>
    <div class="leftProfile">
      <div class="profPic">
        <img src="{{user2.image}}" alt="Photo of {{user2.username}}">
      </div>
      <p><b>Memeber since: </b><em>{{user2.date_joined.strftime('%m-%d-%Y')}}</em></p>
      <p><b>Location: </b>{{user2.location}}</p>
      <p><b>Email: </b>{{user2.email}}</p>
      <p><b>Cred: </b>{{user2.cred}}</p>
      <p><b>Rating: </b>{{r}}</p>
    </div>
    <div class="rightProfile">
      <p><b>Bio: </b>{{user2.bio}}</p>
      <hr>
      <div class="gameList">
      <div class="owned">
          <h4>Games {{user2.username}} Owns:</h4>
          {% for game in games %}
            {% if (user2.id is equalto game.user_id) and (game.own is equalto True) %}
            <div class="own box">
            <div class="overbox">
              <p class="hover">Request</p>
              <div class="sure">
              <form action="{{url_for('trade', id=user2.id)}}" method="POST">
                {{ form.csrf_token }}
                <p>Are you sure you want to exchange {{game.name}}?</p>
                {{ form.name(value=game.name) }}
                {{ form.platform(value=game.platform) }}
                <button class="yes" type="submit">Yes</button>
                <p class="no">No</p>
              </form>
            </div>
            </div>
            <p>{{game.name}}</p>
            <p>{{game.platform}}</p>
            <img src=https://res.cloudinary.com/igdb/image/upload/t_cover_big/{{game.cover}}.jpg>
            </div>
            {% endif %}
          {% endfor %}
          </div>
          <hr id="gameHr">
          <h4>Games {{user2.username}} Wants:</h4>
          {% for game in games %}
            {% if (user2.id is equalto game.user_id) and (game.own is equalto False) %}
            <div class="want">
            <p>{{game.name}}</p>
            <p>{{game.platform}}</p>
            <img src=https://res.cloudinary.com/igdb/image/upload/t_cover_big/{{game.cover}}.jpg>
            </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</main>
<footer style="position:static">
  <div class="icons">
    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
  </div>
  <ul class="footer-list">
    <li>Careers</li>
    <li>Partnerships</li>
    <li>Support</li>
    <li>Press</li>
    <li>Feedback</li>
  </ul>
  <p id="copyright">&copy; 2016 &nbsp; The Game Exchange</p>
</footer>
{% endblock %}
